h1 {
background-color: yellow;
}
p {
color: blue;
}
body {
font-style: italic;
text-align: center;
font-weight: bold;
}
h1 {
  text-shadow: 2px 2px #ff0000;
}

.Class_A {
color: blue;
}